<!-- <aside class="main-sidebar sidebar-dark-primary elevation-4">
  <sidebar-logo></sidebar-logo>
  <div class="sidebar">
    <sidebar-user-panel></sidebar-user-panel>
    <sidebar-menu></sidebar-menu>
  </div>
</aside> -->

<app-ics-tree [TreeOptions]='this.iTreeOptions' [refreshDB]='this.reload' (selectionChanged)="menuSelected($event)" (reloadMenuTree)="this.reloadTree($event)">
  </app-ics-tree>


<!-- <div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">Therichpost </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    </div>
  </div>
</div> -->